<div class="header" ng-controller="NavbarCtrl">
    <div class="navbar-header">
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="http://localhost/~traviswinks/tphtml/public_html/#/listings">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <!-- Read about Bootstrap dropdowns at http://twbs.github.com/bootstrap/javascript.html#dropdowns -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--navbar-inner-->
                </div><!--navbar-->
            </div><!--container-->
        </div><!--navbar-wrapper-->
  <h3 class="text-muted">Total Properties</h3>





<div class="container" style="width:100%">
            <div id="nav-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#nav-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#nav-carousel" data-slide-to="1"></li>
                    <li data-target="#nav-carousel" data-slide-to="2"></li>
                  </ol>
                <div class="carousel-inner">                    
                        <div class="item active">
                            <img src="images/slide-01.jpg" alt="">                            
                                <div class="carousel-caption">
                                    <h1>One more for good measure.</h1>
                                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
                                </div>                            
                        </div>
                        <div class="item">
                            <img src="images/slide-02.jpg" alt="">                            
                                <div class="carousel-caption">
                                    <h1>One more for good measure.</h1>
                                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
                                </div>                            
                        </div>
                        <div class="item">
                            <img src="images/slide-03.jpg" alt="">                            
                                <div class="carousel-caption">
                                    <h1>One more for good measure.</h1>
                                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
                                </div>                            
                        </div>                    
                </div>
            </div>
        </div>
  </div>